demo/slack-demo-3.5/src/main/app/slack-test-3.5.3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:slack="http://www.mulesoft.org/schema/mule/slack" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.3"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/slack http://www.mulesoft.org/schema/mule/slack/current/mule-slack.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/current/mule-twitter.xsd">
	<slack:config-type name="Slack__Connection_Managament_type_strategy" accessToken="${slack.token}" doc:name="Slack: Connection Managament type strategy"/>
    <data-mapper:config name="MessageResponse_To_JSON" transformationGraphPath="messageresponse_to_json.grf" doc:name="MessageResponse_To_JSON"/>
    <twitter:config name="Twitter" accessKey="${twitter.accessKey}" accessSecret="${twitter.accessSecret}" consumerKey="${twitter.consumerKey}" consumerSecret="${twitter.consumerSecret}" doc:name="Twitter"/>
    <flow name="slack-testsFlow1">
        <slack:retrieve-messages config-ref="Slack__Connection_Managament_type_strategy" channelID="${channel.id}" doc:name="Slack (Streaming)" messageRetrieverInterval="1000"/>
        <expression-filter expression="#[!(payload.user == null)]" doc:name="Expression"/>
        <choice doc:name="Choice">
            <when expression="#[payload.text.contains(&quot;help&quot;)]">
                <slack:post-message config-ref="Slack__Connection_Managament_type_strategy"  doc:name="Slack" channelId="${channel.id}" iconURL="https://pbs.twimg.com/profile_images/504738267510501376/9zpJ4eIZ_400x400.png" message="This is a bot helper message!" username="Mule ESB Slack Bot"/>
            </when>
            <otherwise>
                <logger message="#[payload.text]" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
        <flow name="slack-testsFlow2">
        <file:inbound-endpoint path="${folder.path}" responseTimeout="10000" doc:name="File"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <slack:upload-file-as-input-streams config-ref="Slack__Connection_Managament_type_strategy" channelID="${channel.id}" fileName="#[message.inboundProperties.originalFilename]" initialComment="#[message.inboundProperties.directory]" doc:name="Slack"/>
    </flow>
    <flow name="slack-test-3.5.3Flow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="test" doc:name="HTTP"/>
        <slack:post-message config-ref="Slack__Connection_Managament_type_strategy" channelId="${channel.id}" iconURL="https://pbs.twimg.com/profile_images/504738267510501376/9zpJ4eIZ.png" username="Mr. Mule" message="#[message.inboundProperties['http.query.params'].get('message')]" doc:name="Slack"/>
        <data-mapper:transform doc:name="MessageResponse To JSON" config-ref="MessageResponse_To_JSON"/>
    </flow>
    <flow name="slack-testsFlow4">
        <twitter:filtered-stream config-ref="Twitter" doc:name="Twitter (Streaming)">
            <twitter:keywords>
                <twitter:keyword>mulesoft</twitter:keyword>
            </twitter:keywords>
        </twitter:filtered-stream>
        <logger message="#[payload.text + &quot;  &quot; + payload.user.name + &quot;  &quot; + payload.user.screenname]" level="INFO" doc:name="Logger"/>
        <slack:post-message-with-attachment config-ref="Slack__Connection_Managament_type_strategy" channelId="${channel.id}" iconURL="http://icons.iconarchive.com/icons/danleech/simple/1024/twitter-icon.png" username="Twitter Bot" message="New Tweet about MuleSoft!" doc:name="Slack">
            <slack:chat-attachment color="#489fd7" text="#[payload.text]"/>
            <slack:field title="Tweet Author" value="#[payload.user.name]"/>
        </slack:post-message-with-attachment>
    </flow>
</mule>
